*.pyd
*.pyc
**/__pycache__/
**/.ipynb_checkpoints/

.DS_Store
*.log

# Common editor backups
~$*
*~
*.bak
\#*
.#*


# Ignore files created by Pycharm
\.idea/

# Ignore files created by VS Code
.vscode/

# sirf.STIR files
**/errors.txt
**/info.txt
**/warnings.txt
